    /* márgenes y padding */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    /* Estilos para el body */
    body {
        font-family: 'Times New Roman', sans-serif;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    min-height: 100vh;
    }
    /* Ajustes para el contenido principal */
    main {
        margin-left: 250px;
        overflow-x: hidden;
        flex: 1 0 auto;
    }

    /* Estilos para la barra lateral */

        @keyframes fadeIn {
            to { opacity: 1; transform: translateY(0); }
        }

        .navbar {
            background-color: #AB9374;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            padding: 10px 0;
        }

        .navbar-brand img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            transition: all 0.3s ease;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin-right: 10px;
        }

        .nav-item {
            margin-left: 10px;
            animation: fadeIn 0.5s ease forwards;
            opacity: 0;
        }

        .nav-link {
            color: #ffffff !important;
            padding: 10px 15px;
            transition: all 0.3s ease;
            display: flex;
            align-items: center;
            border-radius: 5px;
        }

        .nav-link i {
            margin-right: 10px;
            width: 20px;
            text-align: center;
            font-size: 1.2em;
            transition: all 0.3s ease;
        }

        .nav-link:hover {
            background-color: rgba(255,255,255,0.2);
            transform: translateY(-3px);
        }

        .nav-link:hover i {
            transform: rotate(360deg);
        }

        @media (max-width: 991.98px) {
            .navbar-nav {
                background-color: #AB9374;
                padding: 10px;
                border-radius: 0 0 10px 10px;
            }
        }

/* footer */
.footer {
    background-color: #AB9374;
    color: white;
    flex-shrink: 0;
}

.footer-content {
    padding: 10px 15px;
    margin-left: auto;
    width: calc(100% - 250px); /* Ajusta este valor al ancho de tu sidebar */
}

@media (max-width: 767px) {
    .footer-content {
        width: 100%;
        margin-left: 0;
    }
}

.formulario-container {
    border-radius: 20px;
    background-color: #ffe3c8;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    color: #000;
}

.formulario-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-container .row {
    width: 100%;
} 

.formulario-container .col-md-4 {
    flex: 1;
}

.table-responsive {
    max-height: 200px; overflow-y: scroll;
}